<?xml version="1.0" encoding="utf-8"?>
<Media Key="46fa4cdc-1ed4-4767-87ff-00fd798c16e5" Alias="01.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T01:00:25</CreateDate>
    <NodeName Default="01.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f1yfrjgp/01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>