<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8f15db4-b0ef-44f0-a90f-8fa1b7e6efd1" Alias="02.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T01:00:32</CreateDate>
    <NodeName Default="02.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i1qfgcxu/02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>