<?xml version="1.0" encoding="utf-8"?>
<Media Key="4316075a-191e-44f0-83f9-d8894ba2c22f" Alias="03.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T01:00:36</CreateDate>
    <NodeName Default="03.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vc3ljiif/03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>