<?xml version="1.0" encoding="utf-8"?>
<Media Key="280022c7-0376-4d9c-84cb-4c42c2447620" Alias="04.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T01:00:39</CreateDate>
    <NodeName Default="04.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gwplfstn/04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>