<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebecb042-7680-4d06-b386-a52a7a840210" Alias="05.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T01:00:42</CreateDate>
    <NodeName Default="05.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wagf2cm1/05.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>