<?xml version="1.0" encoding="utf-8"?>
<Media Key="1efe42be-173e-4390-8cf8-a6df3e61b72a" Alias="Aaron Lambert - Onatrix.svg" Level="2">
  <Info>
    <Parent Key="66bcfd4e-60d0-43b8-bc60-0d49df77f00c">Team Members</Parent>
    <Path>/TeamMembers/AaronLambertOnatrixsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T22:38:18</CreateDate>
    <NodeName Default="Aaron Lambert - Onatrix.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jt5fz5bf/aaron-lambert-onatrix.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>