<?xml version="1.0" encoding="utf-8"?>
<Media Key="018769b9-0f7c-4d90-932a-09ccc8be073d" Alias="AboutUsStoryImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutUsStoryImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T01:56:07</CreateDate>
    <NodeName Default="AboutUsStoryImage.svg" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jpkcly1h/aboutusstoryimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>