<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e264f07-87a3-427b-a340-e7065e0e9ee8" Alias="AboutUsAsideImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutUsAsideImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T13:29:51</CreateDate>
    <NodeName Default="AboutUsAsideImage.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4xzij5fy/aboutusasideimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>