<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f335516-eb4f-4869-b029-8946d73db26e" Alias="AssuranceAndAudits.svg" Level="2">
  <Info>
    <Parent Key="99a15c44-3d92-4c9c-b512-a65e79cabce5">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/AssuranceAndAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T11:25:40</CreateDate>
    <NodeName Default="AssuranceAndAudits.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2tujdlku/assuranceandaudits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>