<?xml version="1.0" encoding="utf-8"?>
<Media Key="baf1a933-6d11-4564-91e4-c8136e656558" Alias="Brand-Onatrix.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BrandOnatrixsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T00:09:49</CreateDate>
    <NodeName Default="Brand-Onatrix.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yekfgwak/brand-onatrix.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>