<?xml version="1.0" encoding="utf-8"?>
<Media Key="283e8826-e12c-4129-9929-2d1b5cfa4d05" Alias="Brandon Kerr - Onatrix.svg" Level="2">
  <Info>
    <Parent Key="66bcfd4e-60d0-43b8-bc60-0d49df77f00c">Team Members</Parent>
    <Path>/TeamMembers/BrandonKerrOnatrixsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T22:38:18</CreateDate>
    <NodeName Default="Brandon Kerr - Onatrix.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0q0jzsrx/brandon-kerr-onatrix.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>