<?xml version="1.0" encoding="utf-8"?>
<Media Key="59283d28-d790-4806-a468-47db74b1f389" Alias="ContactMap.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T01:42:53</CreateDate>
    <NodeName Default="ContactMap.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1kaivo2l/contactmap.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>