<?xml version="1.0" encoding="utf-8"?>
<Media Key="22c099a1-a4b0-4c2c-94af-bc2593996e0d" Alias="FinancialAdvisor.svg" Level="2">
  <Info>
    <Parent Key="99a15c44-3d92-4c9c-b512-a65e79cabce5">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/FinancialAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T11:25:51</CreateDate>
    <NodeName Default="FinancialAdvisor.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kmsgfqfl/financialadvisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>