<?xml version="1.0" encoding="utf-8"?>
<Media Key="87bd0225-8af6-47b3-8b94-5cb187d6f360" Alias="Home-Hero.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeHerosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T12:35:45</CreateDate>
    <NodeName Default="Home-Hero.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/045b4zpn/home-hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>