<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef44da6d-8be7-4af9-ae7e-067e6a9fc7fb" Alias="kevin-gardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T03:33:42</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/t3tpmdp2/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>