<?xml version="1.0" encoding="utf-8"?>
<Media Key="049dc92a-0fc8-49a7-9082-33d492ca7883" Alias="Miranda Dayton - Onatrix.svg" Level="2">
  <Info>
    <Parent Key="66bcfd4e-60d0-43b8-bc60-0d49df77f00c">Team Members</Parent>
    <Path>/TeamMembers/MirandaDaytonOnatrixsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T22:38:19</CreateDate>
    <NodeName Default="Miranda Dayton - Onatrix.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1b0d5zwt/miranda-dayton-onatrix.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>