<?xml version="1.0" encoding="utf-8"?>
<Media Key="c61d65a1-fb11-47d1-81ef-fddc48120db9" Alias="new folder name" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/newFolderName</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-06T11:18:45</CreateDate>
    <NodeName Default="new folder name" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>