<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d9767b3-86c9-4b41-802a-2cf6ee048caa" Alias="Onatrix-ContactInformationImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnatrixContactInformationImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T01:59:31</CreateDate>
    <NodeName Default="Onatrix-ContactInformationImage.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ihndll4s/onatrix-contactinformationimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>