<?xml version="1.0" encoding="utf-8"?>
<Media Key="1af5f99e-a854-49c4-9bd6-adfa199c3e3d" Alias="OnatrixWorkerSignature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnatrixWorkerSignaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T01:47:24</CreateDate>
    <NodeName Default="OnatrixWorkerSignature.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nrcfp4cp/onatrixworkersignature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>