<?xml version="1.0" encoding="utf-8"?>
<Media Key="60af32a1-a8af-4187-a26a-a56f010c68ae" Alias="RiskManagementMeeting.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RiskManagementMeetingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T01:57:13</CreateDate>
    <NodeName Default="RiskManagementMeeting.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kohb1avu/riskmanagementmeeting.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>