<?xml version="1.0" encoding="utf-8"?>
<Media Key="497bb0bb-f042-40aa-b1c3-d24bc58c0de1" Alias="SuccessDotMap.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SuccessDotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:04:06</CreateDate>
    <NodeName Default="SuccessDotMap.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jegntk0z/successdotmap.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>