<?xml version="1.0" encoding="utf-8"?>
<Media Key="3eead934-4fe9-45e3-b184-0c7451810710" Alias="SuccessMeeting.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SuccessMeetingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T11:39:33</CreateDate>
    <NodeName Default="SuccessMeeting.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yzserxhs/successmeeting.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>