<?xml version="1.0" encoding="utf-8"?>
<Media Key="78fc52f0-ff33-4025-b690-2a3c92e1426f" Alias="TaxAndTrust.svg" Level="2">
  <Info>
    <Parent Key="99a15c44-3d92-4c9c-b512-a65e79cabce5">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/TaxAndTrustsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T11:26:19</CreateDate>
    <NodeName Default="TaxAndTrust.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/alxf3gri/taxandtrust.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>