<?xml version="1.0" encoding="utf-8"?>
<Media Key="3283d4b0-f06e-4975-8db5-d6cda770c075" Alias="TrustedGroupImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TrustedGroupImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T00:27:38</CreateDate>
    <NodeName Default="TrustedGroupImage.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ijuddudv/trustedgroupimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>