<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3d457b7c-9934-4abb-9b2c-e46d16e0fe1f" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d8effe1b-2a51-497c-96cc-ca5fe85e46bb">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="20be24ea-45bb-4264-b3cf-edf9d8397bf3" SortOrder="0">contactPage</ContentType>
    <ContentType Key="8a63f485-67cd-4631-b676-b9907d7d529f" SortOrder="1">servicePage</ContentType>
    <ContentType Key="7c1b5d64-886b-48b4-9fbf-80fe94d7ac60" SortOrder="2">aboutPage</ContentType>
    <ContentType Key="f26d05eb-758e-4a84-9d22-4833a5833436" SortOrder="3">projectPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c56a9f89-8dcb-45c2-807f-be70bfb3ad0b</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>f1d117cf-0262-4896-90ad-b2717a3c7c82</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>58ae8866-740c-42f6-892b-d12793783311</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>