@import "tailwindcss";
@import "./forms.css";

@theme {
    --color-neutral: #ffffff;
    --color-white: #F2EDDC;
    --color-white-100: #F7F7F7;
    --color-dark: #0E0E0E;
    --color-primary: #4F5955;
    --color-main-light: #606966;
    --color-accent: #F2EDDC;
    --color-secondary: #D9C3A9;
    --color-gray-400: #4B5264;
    --color-body-text: #535656;
    --color-body-text-100: #999999;
    --color-notel: #9C9EA6;
    --color-border-gray: #EAEAEA;
    --color-border-400: #C7C8C9;
    --font-poppins: "poppins", sans-serif;


    --text-rte-xl: 4.375rem;
    --text-rte-lg: 2.5rem;
    --text-rte-md: 1.25rem;
    --text-rte-sm: 1rem;
    --text-rte-xs: 0.875rem;
}

body {
    @apply font-poppins;
}

    .rte-h1 { @apply font-bold leading-tight; font-size: 70px; }
    .rte-h2 { @apply font-bold leading-tight; font-size: 40px; }
    .rte-h3 { @apply font-semibold leading-snug; font-size: 32px; }
    .rte-h4 { @apply font-semibold leading-snug; font-size: 28px; }
    .rte-h5 { @apply font-medium  leading-snug; font-size: 24px; }
    .rte-h6 { @apply font-medium  leading-snug; font-size: 20px; }

.current a {
    @apply text-secondary;
}

.rte-ul {
    @apply list-disc pl-5 mt-3;
}

.rte-ul li{
    @apply text-rte-xs text-body-text mb-3;
}

.rte-ul li::marker{
    @apply text-secondary;
}

.rte p {
    @apply mb-3;
}

.about-callback .rte h2.rte-h2 + p {
    @apply mt-8; 
}


.rte img {
    @apply pb-2;
}

 .rte-img-full { @apply block w-full h-auto; }

