<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f1d117cf-0262-4896-90ad-b2717a3c7c82" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9eb40dfb-414f-4c4c-940a-aae6517b7aef"
    },
    {
      "contentElementTypeKey": "4ce01bf3-5754-423d-ac2d-85469773220c",
      "settingsElementTypeKey": "4c1f07ec-af30-454b-9fb7-ef742d650531"
    },
    {
      "contentElementTypeKey": "b69d4267-492f-4efb-98f2-995760e2b30b"
    },
    {
      "contentElementTypeKey": "d4e86971-09bf-4af6-b0c0-81f3d82c8c17"
    },
    {
      "contentElementTypeKey": "b3b7bca4-93d8-45d2-bab4-ff205ca1a4b5"
    },
    {
      "contentElementTypeKey": "45f09c30-b359-4967-b58d-b18f5a486339"
    },
    {
      "contentElementTypeKey": "9a8d1af8-51ce-4464-8693-43df8496f2f9"
    },
    {
      "contentElementTypeKey": "ea218897-0387-45b6-91bb-a7426e7c543e"
    },
    {
      "contentElementTypeKey": "2c017c77-dcad-4f8c-8808-49f9835bc792"
    },
    {
      "contentElementTypeKey": "2cd4b27e-9945-4866-9a23-18673d70679d"
    },
    {
      "contentElementTypeKey": "e53ffd67-51c5-4503-9287-6aa79682f27e"
    },
    {
      "contentElementTypeKey": "be9b311f-63d0-494f-95b2-f63c04797c51"
    }
  ]
}]]></Config>
</DataType>