<?xml version="1.0" encoding="utf-8"?>
<DataType Key="429d26e1-5cd7-48d7-9f26-a79f5269df70" Alias="Service Detail Asides List" Level="1">
  <Info>
    <Name>Service Detail Asides List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "80f07703-bc61-45a2-821a-3ba2da7a2d56"
    },
    {
      "contentElementTypeKey": "d7972edb-cd7e-4194-9c52-f2bbc301c65d"
    }
  ]
}]]></Config>
</DataType>