<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aed8e57b-ffea-40ad-8a27-8285de970f4a" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3474c242-454a-43a1-bb84-603237bec8d4",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>