<?xml version="1.0" encoding="utf-8"?>
<DataType Key="41a56dd5-b631-4585-bdb8-6ad26dd28963" Alias="Success Stat List" Level="1">
  <Info>
    <Name>Success Stat List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "2466dfd6-1e4f-4129-9a91-09392753a0ad"
    }
  ],
  "validationLimit": {
    "min": 3,
    "max": 3
  }
}]]></Config>
</DataType>