<?xml version="1.0" encoding="utf-8"?>
<DataType Key="09f7a74f-504d-4246-b3f8-37d484b66dc2" Alias=" Team Member List" Level="1">
  <Info>
    <Name> Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "39fbe548-0e98-48e6-b576-05e1873e2b18",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>