<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c5c5405-39a9-48d3-9f2e-12d4c94a5a50" Alias="Contact" Level="2">
  <Info>
    <Parent Key="301671f9-9b30-48c0-a337-3ff0896ec4db">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-28T13:06:40</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e54764fb-1ff7-4bfc-9a26-afb5288f5670">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b3b7bca4-93d8-45d2-bab4-ff205ca1a4b5",
      "key": "9aecca1d-9957-4008-8bcd-741bc0e2df3e",
      "udi": null,
      "values": [
        {
          "alias": "aboutUsBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "aboutUsTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "aboutUsImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "13192348-ce09-482c-a102-b6a5b1cbfe6a",
              "mediaKey": "4d9767b3-86c9-4b41-802a-2cf6ee048caa",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "ea218897-0387-45b6-91bb-a7426e7c543e",
      "key": "aa8a3a1c-e39a-430d-8441-0b78138eac00",
      "udi": null,
      "values": [
        {
          "alias": "partnersImages",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3063f27c-f70d-437b-b18f-601767ec7c73",
              "mediaKey": "46fa4cdc-1ed4-4767-87ff-00fd798c16e5",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "932051c5-d3c6-4214-b905-29d2370097a7",
              "mediaKey": "e8f15db4-b0ef-44f0-a90f-8fa1b7e6efd1",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "d562ce12-f221-40a4-8186-665c4ed48b89",
              "mediaKey": "4316075a-191e-44f0-83f9-d8894ba2c22f",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "751ac65f-f1d4-4a6a-9143-acb751709807",
              "mediaKey": "280022c7-0376-4d9c-84cb-4c42c2447620",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "bd099c96-fa23-48fe-b894-481c88738fb8",
              "mediaKey": "ebecb042-7680-4d06-b386-a52a7a840210",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "5f5cca00-4423-41a1-a8a1-e5f0cb13dc57",
              "mediaKey": "505a6fd7-f125-4186-89da-5e468f2db22a",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "2cd4b27e-9945-4866-9a23-18673d70679d",
      "key": "f7b1a542-f969-4818-a366-40e05a24fa92",
      "udi": null,
      "values": [
        {
          "alias": "contactMapLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "contactMapTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactMapText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-regular\u0022\u003E\u003Cem\u003E\u003Cspan class=\u0022text-body-text\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus\u003C/span\u003E\u003C/em\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactMapImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ae4e2e56-1191-4632-a2d2-0a80b97e18ea",
              "mediaKey": "59283d28-d790-4806-a468-47db74b1f389",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactMapNamePlaceholder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Name"
        },
        {
          "alias": "contactMapPhonePlaceholder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone"
        },
        {
          "alias": "contactMapEmailPlaceholder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Email address"
        },
        {
          "alias": "contactMapButtonText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Submit"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "9aecca1d-9957-4008-8bcd-741bc0e2df3e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "aa8a3a1c-e39a-430d-8441-0b78138eac00",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f7b1a542-f969-4818-a366-40e05a24fa92",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9aecca1d-9957-4008-8bcd-741bc0e2df3e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "f7b1a542-f969-4818-a366-40e05a24fa92",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "aa8a3a1c-e39a-430d-8441-0b78138eac00",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>