<?xml version="1.0" encoding="utf-8"?>
<Content Key="85e1de2e-2d12-4ddf-a61d-98a72ec06094" Alias="Projects" Level="2">
  <Info>
    <Parent Key="301671f9-9b30-48c0-a337-3ff0896ec4db">Onatrix</Parent>
    <Path>/Onatrix/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectPage</ContentType>
    <CreateDate>2025-11-16T21:21:58</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2b940492-d3e8-4b15-9bb8-ec8173880d03">ProjectPage</Template>
  </Info>
  <Properties />
</Content>