<?xml version="1.0" encoding="utf-8"?>
<Content Key="183f4fa4-02ee-43d4-ac2b-8fbb984eaaa4" Alias="Services" Level="2">
  <Info>
    <Parent Key="301671f9-9b30-48c0-a337-3ff0896ec4db">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-11-02T23:37:15</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c135391e-e8c1-4d65-914b-002396a64a7e">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4ce01bf3-5754-423d-ac2d-85469773220c",
      "key": "0a213815-17db-4253-bbc6-fdb84e836032",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003EWe Provide The Solutions\u003Cbr\u003ETo Grow Your Business Faster\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        }
      ]
    },
    {
      "contentTypeKey": "b3b7bca4-93d8-45d2-bab4-ff205ca1a4b5",
      "key": "5b358696-68b2-489d-9aa3-bb022fb3be04",
      "udi": null,
      "values": [
        {
          "alias": "aboutUsBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        },
        {
          "alias": "aboutUsTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "aboutUsImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2615319d-1f45-4bc9-bc25-d69a6ddad93d",
              "mediaKey": "4d9767b3-86c9-4b41-802a-2cf6ee048caa",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "4c1f07ec-af30-454b-9fb7-ef742d650531",
      "key": "adb0caea-8035-4c30-ae75-10550a3fdafa",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "0a213815-17db-4253-bbc6-fdb84e836032",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5b358696-68b2-489d-9aa3-bb022fb3be04",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "0a213815-17db-4253-bbc6-fdb84e836032",
        "contentUdi": null,
        "settingsKey": "adb0caea-8035-4c30-ae75-10550a3fdafa",
        "settingsUdi": null
      },
      {
        "contentKey": "5b358696-68b2-489d-9aa3-bb022fb3be04",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>