<?xml version="1.0" encoding="utf-8"?>
<Content Key="6518aaa8-6e78-4583-ac5e-9d40ac0d243b" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="183f4fa4-02ee-43d4-ac2b-8fbb984eaaa4">Services</Parent>
    <Path>/Onatrix/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-06T11:28:30</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4746bce2-21f4-42f1-9507-cebb579013f9">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b3b7bca4-93d8-45d2-bab4-ff205ca1a4b5",
      "key": "18c8aca1-4b87-4867-a1f4-1b3e23473cf8",
      "udi": null,
      "values": [
        {
          "alias": "aboutUsBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        },
        {
          "alias": "aboutUsTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "aboutUsImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b99e4ea0-afda-4a57-8f12-3c7991c36e39",
              "mediaKey": "4d9767b3-86c9-4b41-802a-2cf6ee048caa",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "18c8aca1-4b87-4867-a1f4-1b3e23473cf8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "18c8aca1-4b87-4867-a1f4-1b3e23473cf8",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "80f07703-bc61-45a2-821a-3ba2da7a2d56",
      "key": "40483b46-4d83-4b10-8ed6-99e955272764",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f88af1e9-5f5a-4896-84d2-bf5babaaa78b",
              "mediaKey": "1e264f07-87a3-427b-a340-e7065e0e9ee8",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "40483b46-4d83-4b10-8ed6-99e955272764",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "40483b46-4d83-4b10-8ed6-99e955272764",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "8ab9c529-26ca-4828-81e7-4894b1158d01",
    "mediaKey": "78fc52f0-ff33-4025-b690-2a3c92e1426f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>